<template>
    <div class="card group relative">
      <img :src="product.images[0]" :alt="product.description">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p>Prix: {{ product.price }}</p>
      <button class="add-to-cart-button" @click="addToCart">Ajouter au panier</button>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      product: {
        type: Object,
        required: true,
      },
    },
    methods: {
        addToCart() {
            this.$emit('add-to-cart', this.product);
        }
    }
  };
</script>
  
<style scoped>
.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.add-to-cart-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #55ec61;
    color: #ffffff;
    padding: 5px 10px;
}
</style>
  