<template>
    <div class="bg-blue-200 grid min-h-screen place-content-center">
        <div class="text-center text-gray-400">
            <input appearance="white" size="xl" placeholder="email" type="email" v-model="emailInput" name="email"/>
            <button @click="setCookie">test</button>
        </div>
    </div>
</template>
  
<script setup>
const emailInput = ref('') 
const routes = useRouter()
const emailCookie = useCookie('email')
  
function setCookie() {
    debugger
    emailCookie.value = emailInput.value
    navigateTo('/products')
}

// onMounted(() => {
//     const mail = routes.query?.email
//     const emailRegex = /^\w+@\w+\.\w+$/g
//     const isEmailValid = emailCookie.value?.match(emailRegex)
//     if (isEmailValid) {
//         setCookie(mail)
//         navigateTo('/products')
//     }
// })
</script>