<template>
    <div>
        <h2 class="email">E-mail: {{ email }}</h2>
        <div class="search-bar">
            <input class="bg-blue-200" type="text" v-model="searchTerms" placeholder="Recherche">
            <button @click="search">Rechercher</button>
        </div>
        <div class="card-container">
            <ProductCard v-for="product in products" :key="product.title" :product="product" @add-to-cart="addToCart"/>
        </div>
    </div>
</template>

<script setup>
import ProductCard from '@/components/productsCard.vue';

const products = [];
const cart = [];

function addToCart(product) {
  cart.push(product);
}

// definePageMeta({
//    middleware: 'protector'
// })
const emailCookie = useCookie('email')
const email = emailCookie.value || ''
</script>

<script>
export default {
    components: {
        ProductCard
    },
    data() {
        return {
            products: [],
            loading: false
        }
    },
    setup() {
        return {
            products,
            cart,
            addToCart
        };
    },
    methods: {
        async fetchProducts() {
            const myProducts = await fetch('https://fakestoreapi.com/products')
            products.value = await myProducts.json()
            this.loading = false
        }
    },
    mounted() {
        this.loading = true
        setTimeout(() => {
            this.fetchProducts()
        }, 100);
    }
};
</script>


<style>
.email {
  text-align: center;
}
.search-bar{
    text-align: center;
}
</style>